@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Global */

* {
	margin: 0;
	font-family: 'DM Sans', monospace;
}

a {
	color: inherit;
	text-decoration: inherit;
}

h2,
h3 {
	font-size: 1rem;
	font-weight: normal;
}

.container-title {
	font-size: 1.5em;
	font-weight: bold;
	width: 100%;
	text-align: center;
	padding-top: 2em
}

/* Buttons */

.button {
	padding: 0.75rem 1.5rem;
	min-width:150px;
	font-size: 1rem;
	border: none;
	border-radius: 4px;
	background-color: #007BFF;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: #0056b3;
}

button:active {
	background-color: #00408d;
}

.button-2 {
	padding: 0.75rem 1.5rem;
	min-width:150px;
	font-size: 1rem;
	border: none;
	border-radius: 4px;
	background-color: #ffffff;
	color: #2d3236;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button-2:hover {
	background-color: #dfdfdf;
}

.button-2:active {
	background-color: #afafaf;
}

/* Error */
.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 95vh;
	row-gap: 1em;
}

.error__icon {
	font-size: 4em;
	color: #dc3545;
}

/* Loading */

.loading-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 95vh;
}

.loading {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #2d3236;
	border-radius: 50%;
	width: 3em;
	height: 3em;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Nav */

nav {
	background-color: #2d3236;
	color: #fff;
	top: 0;
	height: 2em;
	line-height: 2em;
	width: 100vw;
	z-index: 1000;
}

.nav__logo {
	font-size: 1em;
	font-weight: bold;
	margin-left: 2em;
}

/* Question */

.question-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 95vh;
}

.question {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	row-gap: 2em;
	width: 70vw;
	max-width: 800px;
}

.question__header {
	font-size: 2rem;
}

.question__form {
	display: flex;
	flex-direction: column;
	width: 80%;
	align-items: center;
}

.question__form__textarea {
	width: 100%;
	padding: 1rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1rem;
	box-sizing: border-box;
}

/* Destination */

.destination {
	color: aliceblue;
	background-color: #007BFF;
	background: center / cover no-repeat;
}

.destination__details {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	backdrop-filter: blur(12px) brightness(0.75) contrast(0.9);
	padding: 4em 0em 4em 0em;
	row-gap: 1em;
}

.destination__details__buttons {
	display: flex;
	column-gap: 1em;
}

.destination__details__description {
	width: 40vw;
}

/* Ratings */

.ratings {
	display: flex;
	column-gap: 1em;
	align-items: center;
	justify-content: space-around;
	padding: 2em;
	background-color: #f3f3f3;
	border: 1px solid #2d3236;
}

.rating__name {
	text-align: center;
}

.rating {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	border-radius: 8px;
	padding: 8px;
	background: rgb(0, 123, 255);
	background: linear-gradient(135deg, rgba(0, 123, 255, 1) 0%, rgba(132, 164, 255, 1) 100%);
	color: white;
	align-items: center;
}

.rating__value {
	font-weight: bold;
	font-size: 2em;
}

/* Itinerary */

.itinerary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


/* Day */

.day {
	width: 30vw;
	padding: 2em;
	border: 1px solid #2d3236;
	border-radius: 16px;
	margin: 1em;
	display: flex;
	align-items: center;
	background-color: #f3f3f3;
	position: relative;
}

.day__header {
	position: absolute;
	top: 8px;
	left: 8px;
	white-space: nowrap;
	border-radius: 8px;
	padding: 8px;
	background: rgb(0, 123, 255);
	background: linear-gradient(135deg, rgba(0, 123, 255, 1) 0%, rgba(132, 164, 255, 1) 100%);
	color: white;
}

.day__activities {
	list-style: none;
	text-align: left;
	row-gap: 1em;
	display: flex;
	flex-direction: column;
}

.day__activity__address {
	font-size: 0.8rem;
}

/* Locations */

.locations {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 2em;
}

.location {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 20vw;
	height:50px;
	border: 1px solid #2d3236;
	background-color: #f3f3f3;
	border-radius: 16px;
	padding: 2em;
	margin: 1em;
}

.location__name {
	font-size: 1em;
	font-weight: bold;
}

.location__address,
.location__city {
	font-size: 0.8em;
}


@media only screen and (max-width: 1280px) {

	nav {
		display: flex;
		justify-content: center;
	}

	.destination__details__description {
		width: 80vw;
	}

	.location{
		width:65vw;
		height:fit-content;
	}

	.day {
		width: 65vw;
	}


}