@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Global */

html, body {
	height: 100%;
	margin: 0;
  }

#root{
	height: 100%;
	display: flex;
	flex-direction: column;
}

* {
	margin: 0;
	font-family: 'DM Sans', monospace;
}

a {
	color: inherit;
	text-decoration: inherit;
}

h2,
h3 {
	font-size: 1em;
	font-weight: normal;
}

.location-icon{
	color: #dc3545;
}

/* Container */

.container-title {
	font-size: 1.5em;
	font-weight: bold;
	width: 100%;
	text-align: center;
	padding-top: 2em
}

.container-attribution {	
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.5em;
}

/* Buttons */

.button {
	padding: 0.75em 0.75em;
	min-width:150px;
	font-size: 1em;
	border: none;
	border-radius: 4px;
	background-color: #007BFF;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: #0056b3;
}

button:active {
	background-color: #00408d;
}

.button-2 {
	padding: 0.75em 0.75em;
	min-width:150px;
	font-size: 1em;
	border: none;
	border-radius: 4px;
	background-color: #ffffff;
	color: #2d3236;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button-2:hover {
	background-color: #bbbbbb;
}

.button-2:active {
	background-color: #999999;
}

.button-3 {
	padding:0.5em;
	border: none;
	border-radius: 4px;
	background-color: #ffffff;
	color: #2d3236;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button-3:hover {
	background-color: #bbbbbb;
}

.button-3:active {
	background-color: #999999;
}


/* Error */
.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	row-gap: 1em;
}

.error__icon {
	font-size: 4em;
	color: #dc3545;
}

/* Loading */

.loading-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 95vh;
}

.loading {
	width: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: 
	  radial-gradient(farthest-side,#2d3236 94%,#0000) top/8px 8px no-repeat,
	  conic-gradient(#0000 30%,#2d3236);
	mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
	-webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
	animation: rotation 0.8s infinite linear;
  }
  @keyframes rotation{ 
	100%{transform: rotate(1turn)}
  }


@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Nav */

nav {
	display:flex;
	justify-content: space-between;
	background-color: #2d3236;
	color: #fff;
	height: 4em;
	line-height: 4em;
	z-index: 1000;
}

.nav__logo {
	font-size: 1em;
	font-weight: bold;
	margin-left: 2em;
}

.nav__attribution{
	display: flex;
	align-items: center;
	line-height: 4em;
	margin-right: 2em;
	column-gap: 1em;
}

/* Question */

.question-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.question {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	row-gap: 2em;
	width: 70vw;
	max-width: 800px;
}

.question__header {
	font-size: 2em;
}

.question__form {
	display: flex;
	flex-direction: column;
	width: 80%;
	align-items: center;
}

.question__form__textarea {
	width: 100%;
	padding: 1em;
	font-size: 1em;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 1em;
	box-sizing: border-box;
}

/* Destination header */

.destination {
	color: aliceblue;
	background-color: #007BFF;
	background: center / cover no-repeat;
}

.destination__details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0 auto;
	backdrop-filter: blur(12px) brightness(0.75) contrast(0.9);
	padding: 4em 0em 4em 0em;
	row-gap: 1em;
	text-shadow: 0px 0px 8px rgba(0,0,0,1)
}

.destination__details__buttons {
	display: flex;
	column-gap: 1em;
}

.destination__details__name {
	text-align: center;
}

.destination__details__description {
	width: 700px;
	text-align: justify;
}

.destination__details__attribution{
	position: absolute;
	font-size: 0.8em;
	align-items: center;
	bottom: 1em;
	right: 1em;
	display: flex;
	column-gap: 0.2em;
}

/* Ratings */

.ratings {
	display: flex;
	column-gap: 0.5em;
	justify-content: space-evenly;
	padding: 2em;
	background-color: #f3f3f3;
	border: 1px solid #2d3236;
	padding:1em;
}

.rating__name {
	text-align: center;
}

.rating {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	border-radius: 8px;
	padding: 8px;
	background: rgb(0, 123, 255);
	background: linear-gradient(135deg, rgba(0, 123, 255, 1) 0%, rgba(132, 164, 255, 1) 100%);
	color: white;
	align-items: center;
}

.rating__value {
	font-weight: bold;
	font-size: 2em;
}

/* Itinerary */

.itinerary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


/* Day */

.day {
	width: 600px;
	padding: 2em;
	border: 1px solid #2d3236;
	border-radius: 16px;
	margin: 1em;
	display: flex;
	align-items: center;
	background-color: #f3f3f3;
	position: relative;
}

.day__header {
	position: absolute;
	top: 8px;
	left: 8px;
	white-space: nowrap;
	border-radius: 8px;
	padding: 8px;
	background: rgb(0, 123, 255);
	background: linear-gradient(135deg, rgba(0, 123, 255, 1) 0%, rgba(132, 164, 255, 1) 100%);
	color: white;
}

.day__activities {
	list-style: none;
	text-align: left;
	row-gap: 1em;
	display: flex;
	flex-direction: column;
}

.day__activity__name {
	font-weight: bold;
}

.day__activity__address {
	font-size: 0.8em;
}

/* Locations */

.locations {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	align-self: center;
}
    

.location {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:start;
	width:200px;
	height:50px;
	border: 1px solid #2d3236;
	background-color: #f3f3f3;
	border-radius: 16px;
	padding: 2em;
	margin: 1em;
	overflow:hidden;
}

.location__name {
	font-size: 1em;
	font-weight: bold;
}

.location__address,
.location__city {
	font-size: 0.8em;
}

.tripadvisor-logo{
	height:25px;
	cursor: pointer;
}

/* Footer */

footer {
	display:flex;
	flex-direction: column;
	background-color: #2d3236;
	color: #fff;
	align-items: center;
	row-gap: 1em;
	padding: 1em;
	text-align: center;
	margin-top: 1em;
}

.footer__social-links{
	display:flex;
	column-gap: 1em;
	list-style-type: none;
	padding: 0;
}

.footer__social-links__icon {
	width: 32px;
	height: 32px;
	color: #fff;
	filter:invert(100%);
}

/* Screen Size Optimization */
@media only screen and (max-width: 1280px) {

	.locations {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
		align-self: center;
		}

	.location{
		width:80vw;
		max-width: 600px;
		padding: 1em;
		height:fit-content;
	}

}


@media only screen and (max-width: 768px) {

	.question__header, .container-title {
		font-size: 1.2em;
	}

	.question__description, .question__form__textarea, .destination__details__description, .rating__value, .day__activity__name, .day__activity__description, .container-attribution {
		font-size: 0.9em;
	}

	.day__activity__address, .rating__name, .day__header, .location__address, .location__city, footer  {
		font-size: 0.7em;
	}

	.button, .button-2 {
		font-size: 0.9em;
		min-width: 100px;
	}

	nav{
		justify-content: center;
		column-gap: 1em;
		height: 3em;
  		line-height: 3em;
	}

	.nav__attribution__text{
		display: none;
	}

	.question{
		width: 90vw;
		row-gap: 1em;
	}

	.question__description{
		text-align: justify;
	}

	.destination__details__description {
		width: 90vw;
	}

	.day {
		padding: 1em;
		width: 80vw;
		margin: 0.5em;
	}

	.day__activities {
		row-gap: 0.5em;
	}

	.location {
		margin: 0.5em;
	}

	.footer__social-links__icon {
		width: 16px;
		height: 16px;
	}
}